:root {
  /*--------font-size-------*/
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-25: 25px;
  --fs-30: 30px;
  --fs-35: 35px;
  --fs-50: 50px;

  /*-----font-color--------*/

  --color-black: #0b132a;
  --color-light-gray: #4f5665;
  --color-red: #f53855;
  --color-white: #ffff;
  --color-bg: #f53838;
}
/*==============COLOR================*/
.color-black {
  color: var(--color-black);
}

.color-light-grey {
  color: var(--color-light-gray);
}

.color-red {
  color: var(--color-red);
}

.color-white {
  color: var(--color-white);
}
.bg-red {
  background: var(--color-bg);
}

/*==================FONT-SIZE==============*/

.fs-14 {
  font-size: var(--fs-14);
}
.fs-16 {
  font-size: var(--fs-16);
}
.fs-18 {
  font-size: var(--fs-18);
}
.fs-20 {
  font-size: var(--fs-20);
}
.fs-25 {
  font-size: var(--fs-25);
}
.fs-30 {
  font-size: var(--fs-30);
}

.fs-35 {
  font-size: var(--fs-35);
}
.fs-50 {
  font-size: var(--fs-50);
}
